html, body {
    height: 100%;
    font-size: 16px;
}    

#container {
    width: 100%;
    height: 80%;
    margin: 1% auto;
    background: white;
}

#header {
    height: 15%;
    padding: 1%;
    border-bottom: 2px solid #5A3F8C;
    margin: 0;
}

#header a {
    color: black;
    text-decoration: none;
}

#header a:hover, #header a.selected/*, #leftblock a.selected*/ {
    border-bottom: 3px solid #5A3F8C;
}

#header #logo {
    padding: 0;
}

#header #logo, #header #menu, #header #login {
    height: 100%;
}

#header #logo .logo {
    width: 100%;
    height: 100%;
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#header #top-menu {
    height: 100%;
    margin: 0;
    padding: 0;
}

#leftblock #top-menu a {
    color: #5A3F8C;
    display: block;
    height: 100%;
    padding: 5px 0;
}

/*#leftblock #top-menu a.selected {
    text-decoration: none;
    padding-bottom: 2px;
}*/

#leftblock a:hover, #leftblock #top-menu a.selected {
    text-decoration: none;
    font-weight: bold;
}

#header #login {
    text-align: right;
}

#header #login .signin {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    
}

#header #login li {
    display: block;
    float: left;
}

#header #login li a {
    padding-bottom: 5px;
    color: #5A3F8C;
}

#content {
    height: 80%;
    padding: 25px 0 25px 25px;
    width: 100%;
}

#header #login {
    height: 100%;
    padding: 5vh 10px 0;
}

#footer {
    padding: 25px;
    color: white;
}

.menu-sm {
	position: fixed;
	top: 100px;
    Left: 10%;
	z-index: 100;
	height: 0px;
	display:none;
    padding: 20px 40px;
    background-color: #5A3F8C;
    font-size: 2vw;
}

.menu-sm ul {
    padding: 0;
}

#menu-sm:checked~div.menu-sm {
    display: block;
    height: auto;
}

.icon {
    height: 100%;
    text-align: center;
}

.icon-menu {
    position: relative;
    padding: 7px 9px;
    margin: 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    color: #fff;
    font-size: xx-large;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.icon-menu:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: #fff;
}

.glyphicon-user {
    margin-right: 10px;
}

.breadcrumbs {
    margin-bottom: 20px;
}

.breadcrumbs .current-page {
    font-weight: bold;
}

.delivery-city {
    padding-top: 20px;
}

.login-block, .logout-block {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
}

.login-block li, .logout-block li {
    list-style: none;
    display: inline-block;
    padding: 10px 5px;
}

.form-horizontal label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}

.form-horizontal input {
    border: 1px solid #5A3F8C;
    padding: 5px 10px;
    width: 100%;
}

#login-info, #personal-info {
    padding: 10px;
}

.form-horizontal .button{
    height: 5vh;
    background-color: #5A3F8C;
    color: white;
}

.news {
    width: 100%;
}

.news-strem-item-container {
    margin-bottom: 10px;
}

.news-strem-title, .news-strem-title a {
    color: #5A3F8C;
    font-weight: bold;
}

.news-strem-title a:hover {
    text-decoration: cancel-underline !important;
}

.news-strem-body {
    margin: 10px;
}

.news-strem-date, .news-strem-time {
    font-style: italic;
    font-size: 15px;
}

.news-strem-time {
    font-weight: bold;
}

.news-block .parable-item-footer {
    border: 1px solid #5A3F8C;
    background-color: dimgray;
    padding: 5px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.field-validation-error, .error {
    font-size: 14px;
    color: red;
    font-style: italic;
}

#car-photo {
    height: 100%;
    background-image: url(background.png);
    background-size: cover;
    background-position-x: 42%;
}

#page-content {
    overflow: auto;
    height: 100%;
    /*border: 1px solid #5A3F8C;*/
    padding: 25px;
    margin-bottom: 25px;
}

#page-content .home {
    padding: 0;
    padding-left: 25px;
}

#info span {
    display: block;
    padding-right: 10px;
}

#menu, .check-status, .news-block {
    margin-bottom: 2%;
    padding: 10px;
    border: 1px solid #5A3F8C;
    border-radius: 10px;
}

.check-status .id {
    margin-bottom: 5px;
}

.pagination .active a, .pagination a:hover {
    background-color: #ff0012 !important;    
}

.pagination > li > a {
    background-color: lightgray;
    color: white;
    margin-right: 8px;
    padding: 2px 8px;
    border-radius: 3px;
}

.pagination>li>a:hover {
    color: white;
}

.pagination > .active > a {
    border-color: #ff0012;
}

.pagination .PagedList-skipToPrevious {
    display: none;
}

.pagination .PagedList-skipToNext {
    display: none;
}

.pagination > .active > a:hover {
    border-color: #ff0012;
}

.news-block {
    border: 1px solid #5A3F8C;
    padding: 10px;
}

.footer {
    text-align: center;
    margin-top: -10px;
    padding-top: 20px;
}

.footer-body {
    margin: 10px 0;
    padding: 10px;
    border-top: 2px solid #5A3F8C;
}

.slogan {
    font-size: 18px;
}