@media (min-width: 0px) {
    .slogan, .contacts-block {
        margin-top: 5%;
    }
}

@media (max-width: 1199px) {
    #header {
        font-size: .9em;
    }
}

@media (max-width: 992px) {
    #login {
        font-size: 120%;
    }
}

@media (max-width: 767px) {
    #content {
        padding: 25px;
    }
}

@media (max-width: 680px) {
    #header #login {
        padding: 3vh 0;
    }

    #header #info {
        font-size: 80%;
    }

    #header h4 {
        font-size: 130%;
    }

    #header #login li {
        width: 100%;
        text-align: right;
    }
}